@model _1811062489_PhamCongMinh_Tuan3.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<div class="row">
    <ul class="course" style="list-style: none; position: relative; margin-bottom: 30px; ">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date" style=" text-align: center; background-color: #d41d50; color: white; width: 60px; border-radius: 8px;">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        }
                    </span>

                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>